.App-logo {
  height: 150px;
  pointer-events: none;
}

.App-header {
  height: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*.App-background {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("bg-main.jpg") center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 100vh;
  border-bottom: solid 10px #eeb83b; }
  */